<h2>Blogs</h2>
<% @blogs.each do |blog| %>
 <p><%= blog.content %></p>
 <p><%= blog.author.full_name %></p>
 <p><%= link_to 'Show', blog_path(blog) %>
<% end %>
<br><br>
<%= link_to 'Create new blog', new_blog_path %>
